<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    {% block scripts %}
    <link rel="stylesheet" href="{{ url_for("static", filename="css/asciidoctor.css") }}">
    <link rel="stylesheet" href="{{ url_for("static", filename="css/layout.css") }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
    {% endblock %}

    <link href="{{ url_for("atom_feed") }}" rel="alternate"
                                            title="{{ config["BLOG"]["site_title"] }}"
                                            type="application/atom+xml">

    <title>{% block title %}{% endblock %}</title>
  </head>

  <body>
    <header>
      <h1 id="site-title"> {{ config["BLOG"]["site_title"] }} </h1>
      <nav class="navbar">
        <ul id="nav-links">
          <li><a class="nav-link" href="{{ url_for("index") }}">
              <i class="fa fa-home"></i>Home</a></li>
          <li><a class="nav-link" href="{{ url_for("categories") }}">
              <i class="fa fa-book"></i>Categories</a></li>
        </ul>
      </nav>
    </header>

    <section class="page-content">
      {% block content %} {% endblock %}
    </section>

    {% block tail_scripts %} {% endblock %}
  </body>
</html>
