body {
    background: #EEE;
}

#site-title {
    text-align: center;
    font-size: 2.6em;
}

nav.navbar {
    background: #333;
    padding: 0.5em;
}

nav.navbar > ul {
    margin-bottom: 0;
    max-width: 800px;
    margin: auto;
}

nav.navbar > ul > li {
    display: inline-block;
    vertical-align: center;
}

a.nav-link {
    padding-right: 5em;
    color: #DDD;
}

.page-content {
    background-color: #FFF;
    max-width: 900px;
    padding: 2.5em;
    padding-top: 0;
    margin: auto;
}

.pagination {
    text-align: center;
    width: 100%;
    margin-top: 1em;
}

/****************** Post Title Stuff ***************/
.post-header > div {
    margin-top: 0.7em;
}

.post-header {
    padding-bottom: 1em;
    border-bottom: 1px solid #CCC;
}

.post-tags {
    margin-left: 3em;
}
.post-tag {
    color: #0B5485;
    background: #CFE9FA;
    border: 1px solid #0B5485;
    margin-left: 1em;
    padding: 0px 4px;
}

.post-description {
    margin-bottom: 0.25em;
    margin-left: 2em;
    font-size: 1.25em;
    font-style: italic;
    font-weight: bold;
}

.post-title {
    margin-bottom: 0;
    padding-top: 0.25em;
}
